# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Temporary files
*.tmp

# OS
.DS_Store
Thumbs.db